.invalid {
    border: 3px solid red;
    border-radius: 2px;
}

.invalid:focus {
    border-color: red;
}

.invalid::placeholder {
    font-style: italic;
    font-family: sans-serif;
}

.valid {
    border: 3px solid lightblue;
    border-radius: 2px;
}